body{
background-color: rgba(255, 200, 0, 0.5);
}
article{
  float: left;
  display: inline-block;
position: relative;
border: 1px solid;
border-color: red;
}
.close{
position:absolute;
right:0px;
top: 0px;
}
.liresuite{
  color: green;
}
.ffimg{
  float: left;
  display: block
}
article:hover .liresuite {
  transform: scale(2);
}
